.otp-block
  .control-group.otp-helptext
    %ul
      %li Please input the One Time Password which was sent to your #{otp_sending_option} to confirm the order.
      %li Please contact #{content_tag(:b, current_user_client_name)} in case your registered #{otp_sending_option} has changed.
      %li The One Time Password will be valid for #{content_tag(:b, distance_of_time_in_words(current_user.client.otp_code_expiration))}.
  .pull-left
    .control-group
      = label_tag "user[otp]", "One Time Password" , :class => "control-label mandatory-field"
      .controls
        = password_field_tag "user[otp]"
    .control-group.otp-helptext
      == If you did not receive the One Time Password within 5 minutes, <br /> You can #{content_tag(:b, link_to("Click here to Resend the OTP", send_otp_path_for(@user_scheme), :method => :post))}